@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

    

<div class="background-video">
    <div id="player"></div>
    <!-- <iframe id="back-video" width="100%" height="100%" src="https://www.youtube.com/embed/4nM7mU5EI00?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=4nM7mU5EI00" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
</div>

<div class="background-video-blur">
</div>

<div class="rightDiv">
    <div class="col-md-12" style="height: 20vh;">
        <div class="col-md-12" style="height: 100%">
            <!-- <a class="btn btn-link pull-right" href="" style="border: 0; background-color: transparent;">
                <img height="50px" src="images/facebook.png">
            </a> -->
        </div>
    </div>

    <div class="col-md-12" style="height: 70vh;">
        <div class="col-md-12" style="height: 100%;">

            <!-- C#
            HTML
            css
            SQL -->

            <div class="row" style="display: flex; margin-bottom: 50px">
                <a style="flex: 1;" class="btn btn-link" href="https://docs.microsoft.com/dotnet/csharp/" style="border: 0; background-color: transparent;">
                    <img height="50px" src="images/csharp.png">
                </a>
                <a style="flex: 1;" class="btn btn-link" href="https://developer.mozilla.org/docs/Web/JavaScript" style="border: 0; background-color: transparent;">
                    <img height="50px" src="images/js.png">
                </a>
                 <a style="flex: 1;" class="btn btn-link" href="https://www.w3.org/html/" style="border: 0; background-color: transparent;">
                    <img height="50px" src="images/html.png">
                </a>
                 <a style="flex: 1;" class="btn btn-link" href="https://www.w3.org/Style/CSS/Overview.en.html" style="border: 0; background-color: transparent;">
                    <img height="50px" src="images/css.png">
                </a>
                 <a style="flex: 1;" class="btn btn-link" href="https://www.microsoft.com/sql-server/" style="border: 0; background-color: transparent;">
                    <img height="50px" src="images/sqlserver.png">
                </a>
                 <a style="flex: 1;" class="btn btn-link" href="https://docs.microsoft.com/dotnet/core/" style="border: 0; background-color: transparent;">
                    <img height="50px" src="images/netcore.svg">
                </a>
            </div>

            <div class="info-card" style="display: flex;">
                <div style="flex: 3; position: relative;">
                    <a style="flex: 1;" class="btn" href="http://www.facens.br" style="border: 0; background-color: transparent;">
                        <img height="100px" src="images/facens.png">
                    </a>
                </div>
                <div style="flex: 10;">
                    <p class="info-title">Engenharia de Computação</p>
                    <p class="info-text">Facens - Faculdade de Engenharia de Sorocaba</p>
                    <p class="info-text">2016 - 2020</p>
                </div>
            </div>

            <br>

            <div class="info-card" style="display: flex;">
                <div style="flex: 3; position: relative;">
                    <a style="flex: 1;" class="btn" href="http://www.etecvotorantim.com.br/" style="border: 0; background-color: transparent;">
                        <img height="50px" src="images/etec.png">
                    </a>
                </div>
                <div style="flex: 10;">
                    <p class="info-title">Técnico em Informática</p>
                    <p class="info-text">ETEC Profº Elias Miguel Júnior</p>
                    <p class="info-text">2014 - 2015</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">

        <div class="pull-right">
            <a class="btn btn-link" href="https://www.linkedin.com/in/alissongiron/" style="border: 0; background-color: transparent;">
                <img height="50px" src="images/linkedin.png">
            </a>

             <a class="btn btn-link" href="https://www.facebook.com/alisson.giron.58" style="border: 0; background-color: transparent;">
                <img height="50px" src="images/facebook.png">
            </a>
        
             <a class="btn btn-link" href="https://github.com/AlissonGiron" style="border: 0; background-color: transparent;">
                <img height="50px" src="images/github.png">
            </a>
        </div>

    </div>
</div>

<div class="leftDiv">
    <div style="text-align:center; z-index: 10;">
        <h1>Alisson Giron</h1>
        <h2>&lt;!--   Desenvolvedor de Software  --> </h2>
    </div>
</div>

<script>
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    $(document).ready(function() {
        $(window).resize(function(){
            sizeTheVideo();
        });  
    });

    function sizeTheVideo() {
        // https://codepen.io/MikeMooreDev/pen/QEEPMv
        var aspectRatio = 1.78;
        
        var video = $('#player');
        var videoHeight = video.outerHeight();
        var newWidth = videoHeight * aspectRatio;
        var halfNewWidth = newWidth / 2;
            
        video.css({
            "width": newWidth + "px",
            "left": "50%",
            "margin-left": "-" + halfNewWidth + "px"
        });
    }

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '100%',
          width: '100%',
          videoId: 'JP35o3Ckk2A',
          playerVars: { 'controls': 0, 'rel': 0, 'showinfo': 0 },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
    }

    function onPlayerReady(event) {
        sizeTheVideo();
        player.mute();
        player.setPlaybackQuality('small');
        event.target.playVideo();
    }

    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING) {
            setTimeout(reloadVideo, 600000);
        }
    }

    function reloadVideo() {
        player.seekTo(0);
    }

</script>