@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<style>

html, body {
    padding: 0;
    margin: 0;
    background-color: darkslategrey;
    overflow: hidden;
}

h1, h2 {
    font-family: monospace;
}

h1 {
    font-size: 60px;
    color: #e0dfc7;
}

h2 {
    font-size: 20px;
    color: lightgreen;
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 10px 0;
}

.leftDiv {
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.background-video-blur {
    width: 50vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    left: 0;
    z-index: 5;
    opacity: 0.9;
    transform: skew(30deg);
}

.rightDiv {
    background-color: whitesmoke;
    height: 100vh;
    z-index: 2;
}

.btn-link:hover {
    transform: scale(1.05);
    transition: all linear 0.1s;
}

.info-card {
    background-color: white;
    box-shadow: 0 5px 4px -5px darkgrey;
    border-radius: 10px;
    padding: 10px;
}

p {
    font-family: monospace;
}

.info-card img,
.info-tech img {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}

.info-title {
    font-size: 18px;
    font-weight: bold;
}

.info-text {
    color: gray;
}


.hamburger-fill {
    height: 5px; 
    background-color: lightgreen; 
    width: 100%; 
    border-radius: 10px;  
    margin-top: 5px;
}

#hamburger {
    position: fixed;
    z-index: 10000;
    margin: 20px; 
    height: 30px; 
    width: 40px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#hamburger.hamburger-clicked {
    border-radius: 100%;
    margin: 20px; 
    height: 20px; 
    width: 20px;
    background-color: lightgreen;
    color: transparent;
}

#hamburger:hover {
    cursor: pointer;
}

.menu {
    position: fixed;
    background-color: whitesmoke;
    z-index: 1000;
    
    width: 0;
    height: 0;
    border-bottom-right-radius: 100%;
    background-color: lightgreen;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.background-gif {
    /* background-image:url('images/background.gif'); */
    background-image: url('images/blur-bulb-close-up-371906.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.menu-open {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-bottom-right-radius: 0;
    background-color: whitesmoke;
}

.navbar {
    position: absolute; 
    color: lightgreen; 
    z-index: 10; 
    right: 0; 
    top:0; 
    padding: 20px; 
}

.navbar a {
    text-decoration: none;
    color: lightgreen;
    padding: 10px;
    margin: 10px;
    font-family: monospace;
    border-radius: 5px;
}

#spotify-info {
    position: absolute;
    top: 5px;
    left: 10px;
    width: auto;
    padding-left: 20px;
    padding-right: 50px;
    height: 80px;
    border: 1px solid lightgreen;
    z-index: 100;
    margin: 20px;
    border-radius: 10px;
}

#spotify-info div {
    height: 100%;
}

#spotify-info h4 {
    color: lightgreen;
}

#spotify-info:hover {
    transform: scale(1.02);
}



.navbar a:hover {
    color: whitesmoke;
    cursor: pointer;
}

.principal {
    border: 1px solid lightgreen;
}


.principal:hover {
    border: 1px solid whitesmoke;
}

@@media (max-width: 720px)
{
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 14px;
    }
}

@@media (max-width: 992px)
{
    html, body {
        overflow-y: auto;
    }

    .rightDiv {
        height: 100%;
    }

    #footer-social {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .background-gif { 
        width: 100vw;
    }

    .background-video-blur {
        width: 100vw;
    }

    .info-card {
        text-align: center;
    }

    .background-video-blur {
        transform: skew(0);
    }
}

</style>
    
<div class="background-gif">
</div>

<div class="background-video-blur">
</div>

<!-- <div class="menu">
    <div id="menu-content" class="hidden" style="background-color: transparent;">
        <div class="col-xs-10 col-xs-offset-1" style="height: 80vh; margin-top: 10vh; display: flex; justify-content: center; align-items: center;">
            <div class="col-xs-12" style="color: white; font-family: monospace; background-color: indianred; padding: 20px; text-align: center; font-size: 20px; border-radius: 20px;">
                em construção...
            </div>
        </div>
    </div>
</div>

<div id="hamburger">
    <div class="hamburger-fill"></div>
    <div class="hamburger-fill"></div>
    <div class="hamburger-fill"></div>

    <h5 style="color:lightgreen; text-align:center; font-weight: bold;">
    menu
    </h5>
</div> -->

<div class="navbar">
    <a class="btn principal" href="https://www.alissongiron.com">Início</a>
    <a>Publicações</a>
    <a>Projetos</a>
    <a>Sobre</a>
</div>

<div class="row">
    <div class="col-xs-12">

        <div class="col-xs-12 col-md-6">
            <div class="leftDiv">
                <div style="text-align:center; z-index: 10;">
                    <h1>Alisson Giron</h1>
                    <h2>&lt;!--   desenvolvedor de software  --> </h2>
                </div>
            </div>
        </div>

        <div style="position: absolute; bottom: 20px; right: 30px; z-index: 10;">
            <a title="Ir para Linkedin" class="btn btn-link" href="https://www.linkedin.com/in/alissongiron/" style="border: 0; background-color: transparent;">
                <img height="20px" src="images/linkedin.png">
            </a>

            <a title="Ir para Facebook" class="btn btn-link" href="https://www.facebook.com/alisson.giron.58" style="border: 0; background-color: transparent;">
                <img height="20px" src="images/facebook.png">
            </a>
        
            <a title="Ir para Github" class="btn btn-link" href="https://github.com/AlissonGiron" style="border: 0; background-color: transparent;">
                <img height="20px" src="images/github-white.png">
            </a>
        </div>

        <a id="spotify-info">
            <div class="col-xs-4" style="position: relative;">
                <img id="icon_music" height="50px" width="50px" style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto;">
            </div>
            <div class="col-xs-8">
                <h4 id="music_name">Título</h4>
                <h4 id="artist_name">Artista</h4>
            </div>
        </a>
        

        <!--
        <div class="rightDiv col-xs-12 col-md-6">
            <div class="row" style="margin-top: 20vh; height: 70vh;">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="row">
                        <div class="col-xs-12">
                            <a class="btn btn-link col-xs-6 col-md-2" href="https://docs.microsoft.com/dotnet/csharp/" style="border: 0; background-color: transparent;">
                                <img height="50px" src="images/csharp.png">
                            </a>
                            <a class="btn btn-link col-xs-6 col-md-2" href="https://developer.mozilla.org/docs/Web/JavaScript" style="border: 0; background-color: transparent;">
                                <img height="50px" src="images/js.png">
                            </a>
                            <a class="btn btn-link col-xs-6 col-md-2" href="https://www.w3.org/html/" style="border: 0; background-color: transparent;">
                                <img height="50px" src="images/html.png">
                            </a>
                            <a class="btn btn-link col-xs-6 col-md-2" href="https://www.w3.org/Style/CSS/Overview.en.html" style="border: 0; background-color: transparent;">
                                <img height="50px" src="images/css.png">
                            </a>
                            <a class="btn btn-link col-xs-6 col-md-2" href="https://www.microsoft.com/sql-server/" style="border: 0; background-color: transparent;">
                                <img height="50px" src="images/sqlserver.png">
                            </a>
                            <a class="btn btn-link col-xs-6 col-md-2" href="https://docs.microsoft.com/dotnet/core/" style="border: 0; background-color: transparent;">
                                <img height="50px" src="images/netcore.svg">
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="info-card col-xs-12">
                            <div class="col-xs-12 col-md-3" style="position: relative; height: 100px;">
                                <a style="height: 100px;" class="btn" href="http://www.etecvotorantim.com.br/" style="border: 0; background-color: transparent;">
                                    <img height="100px" src="images/facens.png">
                                </a>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                <p class="info-title">Engenharia de Computação</p>
                                <p class="info-text">Facens - Faculdade de Engenharia de Sorocaba</p>
                                <p class="info-text">2016 - 2020</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="info-card col-xs-12">
                            <div class="col-xs-12 col-md-3" style="position: relative; height: 100px;">
                                <a style="height: 100px;" class="btn" href="http://www.etecvotorantim.com.br/" style="border: 0; background-color: transparent;">
                                    <img height="50px" src="images/etec.png">
                                </a>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                <p class="info-title">Técnico em Informática</p>
                                <p class="info-text">ETEC Profº Elias Miguel Júnior</p>
                                <p class="info-text">2014 - 2015</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-social" class="col-xs-12">
                <div class="pull-right">
                    <a class="btn btn-link" href="https://www.linkedin.com/in/alissongiron/" style="border: 0; background-color: transparent;">
                        <img height="50px" src="images/linkedin.png">
                    </a>

                    <a class="btn btn-link" href="https://www.facebook.com/alisson.giron.58" style="border: 0; background-color: transparent;">
                        <img height="50px" src="images/facebook.png">
                    </a>
                
                    <a class="btn btn-link" href="https://github.com/AlissonGiron" style="border: 0; background-color: transparent;">
                        <img height="50px" src="images/github.png">
                    </a>
                </div>
            </div>
        </div> -->
    </div>

    
</div>



<script>
    var music_id = "";

    $(document).ready(function() {
        $("#spotify-info").hide();

        setInterval(getSpotify, 3000);
    });

    function getSpotify() {
        $.ajax({
            url: "https://api.spotify.com/v1/me/player/currently-playing",
            type: "GET",
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Authorization', 'Bearer BQCrOWl7eHSxxiRmoAJa_Flt-e5l85HoNFBLs_-jYXtQqAR4aaavVQZdmpwTIkB-1K-hGVcxC4L4JdDEgcCv3lY-mtrX56tgeeXk4JphXUQlBjXmjzsZg0ih3ThNHVmz9-CP_WKuinf4a6BHtGlhg0Y');
            }
        })
        .done(function (data) { 
            if(data == undefined || (data.item.id == music_id && data.is_playing)) return;

            if(!data.is_playing || data.is_playing == undefined) {
                $("#spotify-info").hide();
                music_id = "";  
                return;
            }

            var curMusic = {
                music_name: "",
                artist_name: "",
                icon_url: "",
                link: "",
                duration: 0,
                progress: 0
            }

            curMusic.music_name = data.item.name;
            curMusic.icon_url = data.item.album.images[0].url;

            curMusic.link = data.item.external_urls.spotify;
            curMusic.duration = data.item.duration_ms;
            curMusic.progress = data.progress_ms;

            var artists = data.item.artists.map(function(o) { return o.name; });
            curMusic.artist_name = artists[0];

            for(var i = 1; i < artists.lenght; i++)
            {
                curMusic.artist_name += " | " + artists[i];
            }

            $("#icon_music").attr('src', curMusic.icon_url);
            $("#music_name").html(curMusic.music_name);
            $("#artist_name").html(curMusic.artist_name);
            $("#spotify-info").attr('href', curMusic.link);

            music_id = data.item.id;
            $("#spotify-info").show();
        })
        .fail(function (data) { console.log(data); });
    }
</script>



