@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<style>

html, body {
    padding: 0;
    margin: 0;
    background-color: darkslategrey;
    overflow: hidden;
}

h1, h2 {
    font-family: monospace;
}

h1 {
    font-size: 60px;
    color: #e0dfc7;
}

h2 {
    font-size: 20px;
    color: lightgreen;
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 10px 0;
}

.leftDiv {
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.background-video-blur {
    width: 50vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    left: 0;
    z-index: 5;
    opacity: 0.9;
    transform: skew(30deg);
    transition: all 0.2s linear;
}

.background-video-blur.normal {
    transition: all 0.2s linear;
    width: 100%;
    transform: skew(0);
}

.about {
    z-index: 20;
    color: lightgreen;
    font-family: monospace;
    font-size: 14px;
    opacity: 0;
}

.about.visible {
    opacity: 1;
    position: relative;
    transition: all 2s linear;
}

.btn-link:hover {
    transform: scale(1.05);
    transition: all linear 0.1s;
}

.info-card {
    background-color: white;
    box-shadow: 0 5px 4px -5px darkgrey;
    border-radius: 10px;
    padding: 10px;
}

p {
    font-family: monospace;
}

.background-gif {
    /* background-image:url('images/background.gif'); */
    background-image: url('images/blur-bulb-close-up-371906.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.menu-open {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-bottom-right-radius: 0;
    background-color: whitesmoke;
}

.navbar {
    position: absolute; 
    color: lightgreen; 
    z-index: 30; 
    right: 0; 
    top:0; 
    padding: 20px; 
}

.navbar a {
    text-decoration: none;
    color: lightgreen;
    padding: 10px;
    margin: 10px;
    font-family: monospace;
    border-radius: 5px;
}

.navbar a:hover {
    color: whitesmoke;
    cursor: pointer;
}

.principal {
    border: 1px solid lightgreen;
}


.principal:hover {
    border: 1px solid whitesmoke;
}

.vertical-center {
    position: absolute;
    padding-top:100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);    
}


@@media (max-width: 720px)
{
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 14px;
    }
}

@@media (max-width: 992px)
{
    html, body {
        overflow-y: auto;
    }

    .rightDiv {
        height: 100%;
    }

    #footer-social {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .background-gif { 
        width: 100vw;
    }

    .background-video-blur {
        width: 100vw;
    }

    .info-card {
        text-align: center;
    }

    .background-video-blur {
        transform: skew(0);
    }
}

</style>
    
<div class="background-gif">
</div>

<div class="background-video-blur">
</div>

<!-- links com a classe btn para que seja possível selecioná-los utilizando o teclado -->
<section class="navbar">
    <a class="btn">Início</a>
    <a class="btn">Publicações</a>
    <a class="btn">Projetos</a>
    <a class="btn" onclick="showAbout()">Sobre</a>
</section>

<div class="row">
    <div class="col-xs-12">

        <div class="col-xs-12 col-md-6">
            <div class="leftDiv">
                <div style="text-align:center; z-index: 10;">
                    <h1>Alisson Giron</h1>
                    <h2>&lt;!--   desenvolvedor de software  --> </h2>
                </div>
            </div>
        </div>

        <div style="position: absolute; bottom: 20px; right: 30px; z-index: 10;">
            <a title="Ir para Linkedin" class="btn btn-link" href="https://www.linkedin.com/in/alissongiron/" style="border: 0; background-color: transparent;">
                <img height="20px" src="images/linkedin.png">
            </a>

            <a title="Ir para Facebook" class="btn btn-link" href="https://www.facebook.com/alisson.giron.58" style="border: 0; background-color: transparent;">
                <img height="20px" src="images/facebook.png">
            </a>
        
            <a title="Ir para Github" class="btn btn-link" href="https://github.com/AlissonGiron" style="border: 0; background-color: transparent;">
                <img height="20px" src="images/github-white.png">
            </a>
        </div>

        
        <div class="about col-xs-12 col-md-6">
            <p class="vertical-center">/*<br><br>
                Alisson Henrique dos Santos Giron - 20 anos, Votorantim - SP;<br><br>       
                Desenvolvedor de Software em Fazsoft Solutions - Sorocaba, onde trabalho focado em soluções WEB, Móveis e IOT voltado à Indústria 4.0. Utilizando principalmente as plataformas ASP.NET, Xamarin e UWP e as linguagens C#, Javascript, HTML, CSS e SQL;<br>     
                Formado em Técnico em Informática pela ETEC Profº Elias Miguel Júnior em 2015 e desde 2016 estudando Engenharia de Computação na FACENS - Faculdade de Engenharia de Sorocaba;<br>
                Interessado em áreas como Desenvolvimento WEB, Desenvolvimento de Jogos e Inteligência Artificial;<br><br> 
            */</p>             
        </div>
    </div>
</div>

<script>
    $(".navbar a").click(function(e) {
        $(".navbar a").removeClass('principal');
        $(e.target).addClass('principal');

        if(e.target.innerHTML !== "Sobre") 
        {
            $(".background-video-blur").removeClass('normal');
            $(".about").removeClass('visible');
        }
    });

    function showAbout() {
        $(".background-video-blur").addClass('normal');
        $(".about").addClass('visible');
    }
</script>